@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    height: 100vh;
    background: black url(./images/bg-image.jpeg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-shadow: 0px 0px 1px rgb(0, 0, 0),
        0px 0px 20px rgb(0, 0, 0),
        0px 0px 30px #ffb700;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

li a {
    text-decoration: none;
    color: wheat;
}


.logo {
    font-family: 'JetBrains Mono';
}

.header {
    display: flex;
    padding: 10px;
    background-color: black;
    color: wheat;
    justify-content: space-around;
}

.top {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.top .container {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    padding: 50px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}


.contact-btn {
    all: unset;
    font-size: 24px;
    color: rgba(245, 222, 179, 0.9);
}

.main-title {
    font-size: 48px;
    font-weight: light;
}

.title-image {
    width: 350px;
    height: 200px;
    background-color: black;
}

.middle {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0.300);
    backdrop-filter: blur(5px);
}

.sub-title {
    font-size: 36px;
    color: white;
    font-weight: 600;
}

.card-image {
    width: 200px;
    height: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.card {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card img {
    margin-top: auto;
}

.card .subtext {
    color: white;
    margin-top: auto;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: wheat;
}

.quoter {
    font-weight: bold;
    align-self: flex-end;
}

.bottom {
    padding: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.300);
    backdrop-filter: blur(5px);
}




.contact {
    padding: 100px;
}

.footer {
    color: rgba(245, 222, 179, 0.845);
    background-color: black;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 10px;
}